[Desktop Entry]
Encoding=UTF-8
Name=Link to High-Low Tech – Programming an ATtiny w/ Arduino 1.6 (or 1.0)
Type=Link
URL=http://highlowtech.org/?p=1695
Icon=text-html
