[Desktop Entry]
Encoding=UTF-8
Name=Link to Program an ATtiny with Arduino
Type=Link
URL=http://www.instructables.com/id/Program-an-ATtiny-with-Arduino/?ALLSTEPS
Icon=text-html
